.meeting-party{
    width: 90%;
    height: 200px;
    display: block;
    margin:0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.no-party{
    color: #575b63;
    margin: 0 auto;
}

.form-div{
    width: 90%;
    margin:0 auto;
    margin-top: -80px;
}

.new-title{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    margin:0 auto;
}

.checkmark-div{
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
}

.checkmark{
    font-size:100px;
}