<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="meeting-party">
    <ion-item lines="inset">
      <ion-label class="meeting-party-title">My meeting</ion-label>
      <ion-button *ngIf="showNewButton" (click)="showCreationForm()" slot=end color="success"> <ion-icon name="add"></ion-icon> New</ion-button>
    </ion-item>
    <div *ngIf="!isParty; else partyBlock">
      <ion-item>
        <p class="ion-text-center no-party ion-text-wrap">{{ noPartyMsg }} </p>
      </ion-item>
    </div>
    <ng-template #partyBlock>
      <ion-item *ngIf="meetStatus != 'waiting'; else join" >
        <ion-label><p>Session #{{ displaySessionUUID }}</p></ion-label>
        <ion-button *ngIf="!showStatus" (click)="openMeetStatus()" color="success" expand='block'> <ion-icon name="open-outline"></ion-icon>Open</ion-button>
        <ion-button (click)="leave()" slot=end color="danger" expand='block'> <ion-icon name="exit-outline"></ion-icon>Quit</ion-button>
      </ion-item>
      <ng-template #join>
        <ion-item>
          <ion-label><p>Session #{{ displaySessionUUID }}</p></ion-label>
          <ion-button (click)="accept()" color="success" expand='block'> <ion-icon name="enter-outline"></ion-icon>Join</ion-button>
          <ion-button (click)="leave()" slot=end color="danger" expand='block'> <ion-icon name="exit-outline"></ion-icon>Quit</ion-button>
        </ion-item>
      </ng-template>
    </ng-template>
  </div>
  <div *ngIf="showNewForm" class="form-div">
      <div class="input-group">
        <ion-item>
          <ion-label class="ion-text-center new-title">New meeting</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Users</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Go" [(ngModel)]="selectedUsers"> 
            <ion-select-option *ngFor="let user of reachableUsers"  [value]="user.getID()">{{ user.getName() }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Destination</ion-label>
          <ion-select multiple="false" cancelText="Cancel" okText="Go" [(ngModel)]="selectedLoc">
            <ion-select-option *ngFor="let loc of reachableLoc" [value]="loc.getID()">{{ loc.getName() }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button (click)="createNew()" expand="block" color="success">Create</ion-button>
              </ion-col>
              <ion-col>
                <ion-button (click)="showCreationForm()" expand="block" color="danger">Cancel</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
  </div>
  <div *ngIf="showStatus" class="form-div">
    <div class="input-group">
      <ion-item lines="inset">
        <ion-label class="new-title">Meeting status</ion-label>
        <ion-button (click)="showMeetStatus()" slot=end color="danger"> <ion-icon name="close-outline"></ion-icon> Close</ion-button>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item *ngIf="showItinerary && !showStart; else noItinerary" lines="none">
                <ion-list>
                  <ion-label>Itinerary</ion-label>
                  <ion-item *ngFor="let step of itinerary; let i = index" lines=none>
                    <ion-label *ngIf='i != actualCheckpoint; else init'>{{i+1}}) {{step}} </ion-label>
                    <ng-template #init><ion-label>{{i+1}}) {{step}} (Actual position) </ion-label></ng-template>
                  </ion-item>
                </ion-list>           
              </ion-item>
              <ng-template #noItinerary>
                  <div *ngIf="!showItinerary && !showStart; else start" class="checkmark-div">
                    <ion-icon name="checkmark-circle-outline" color="success" class="checkmark"></ion-icon>
                  </div>
                  <ng-template #start>
                    <ion-label>Let's start !</ion-label>
                </ng-template>
              </ng-template>
            </ion-col>
            <ion-col>
              <ion-row>
                <ion-label>Time until next step: {{timeLeft}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-label>Last checkpoint: {{lastCheckpoint}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-label>Destination: {{destinationDisplay}}</ion-label>
              </ion-row>
              <ion-row>
                <ion-label>Status: {{displayStatus}}</ion-label>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button *ngIf="showItinerary" (click)="nextCheckpoint()" expand="block" color="success">Checkpoint</ion-button>
              <ion-button *ngIf="showStart" (click)="start()" expand="block" color="success">Start</ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)="openFriendsModal()" expand="block" color="primary">Friends status</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
</div>
</ion-content>
