<ion-content>
  <div class="actual-pos">
    <ion-item lines="inset">
      <ion-label >Actual position</ion-label>
      <ion-button *ngIf="showUpdateButton" (click)="showUpdateForm()" slot=end color="warning"> <ion-icon name="pencil-outline"></ion-icon> Update</ion-button>
    </ion-item>
    <ion-item lines="inset">
      <ion-label>{{userLoc.getName()}}</ion-label>
    </ion-item>
  </div>
  <div class="item-div" *ngIf="!showUpdateButton">
    <ion-item lines="inset">
      <ion-label class="meeting-party-title">Update position</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Locations</ion-label>
      <ion-select multiple="false" cancelText="Cancel" okText="Go" [(ngModel)]="selectedLoc">
        <ion-select-option *ngFor="let loc of locations" [value]="loc.getID()">{{ loc.getName() }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="createNew()" expand="block" color="success">Update</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="showUpdateForm()" expand="block" color="danger">Cancel</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </div>
</ion-content>
