.actual-pos{
    width: 90%;
    height: 200px;
    display: block;
    margin:0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.item-div{
    width: 90%;
    height: 200px;
    display: block;
    margin:0 auto;
    margin-top: -80px;
    border-radius: 5px;
}