<ion-header>
  <ion-toolbar>
    <ion-title>Meet&Walk</ion-title>
    <ion-button (click)="openProfile()" color="tertiary" slot=end><ion-icon name="person-circle-outline"></ion-icon>Profile</ion-button>
    <ion-button *ngIf="isAdmin" (click)="openAdmin()" slot=end color="secondary" class="admin-button"><ion-icon name="settings-outline"></ion-icon>Admin</ion-button>
    <ion-button (click)="logout()" slot=end color="danger"><ion-icon name="exit-outline"></ion-icon>Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="meet">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Meet friends</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="position">
        <ion-icon name="locate-outline"></ion-icon>
        <ion-label>My position</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>  
</ion-content>
