<ion-content>
  <div class="form-div">
    <div class="title"><ion-label>Enter your login credentials</ion-label></div>
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <div class="input-group">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
      </div>
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log In</ion-button>
    </form>
    </div>
</ion-content>