.form-div {
    margin: 0 auto;
    margin-top: 250px;;
    background: #222428;
    padding: 40px 10px 10px 10px;
    border-radius: 10px;
    width: calc(100% - 80px);
}

.title{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}